body{
    background-color: rgb(15, 15, 69);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.hero-image{
    width: 100%;
    margin-bottom: 20px;
}
.hero-image img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    object-fit: cover;
}
.Logo{
    font-family: cursive;
    font-size: 25px;
    color: rgb(219, 163, 32);
}
.menu-icon{
    display: inline-block;
    padding: 0%;
    border-radius: 0%;
    justify-content: end;
}
.gold-heading{
    color: rgb(149, 95, 19);
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.p{
    color: rgb(198, 174, 174);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.text{
    color: rgb(29, 27, 27);
    font-size: 20px;
    background-color: rgb(229, 190, 15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}
.text h1{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}
.text ul{
    text-decoration-style: solid;
}
.text li{
    text-decoration: double;
    list-style: square;
}
.text strong{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.cover{
    background-color: rgba(15, 15, 69);
}
.cover h1{
    color: rgb(161, 148, 148);
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100px;

}
.cover p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 50px;
}
.cover ul{
    text-decoration: none;
}
.cover a{
    text-decoration: none;
    color: red;
    list-style: disc;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.section1{
color: antiquewhite;
background-color: antiquewhite;
}
.whatsapp-float{
    position: fixed;
    bottom: 40px;
    left: 20px;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
    text-decoration: none;
    transition: all 0.3s ease;
}
.whatsapp-float:hover{
    background-color: #1da851;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}
.whatsapp-float img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}